:root {
  --global-main-font: 'Lato';
  --global-main-font-weight: 400;
  --global-bold-font-weight: 700;
  --global-main-letter-spacing: 0;
  --global-blue-color: #0D4CD3;
  --global-light-blue-color: #9DACCE;
  --global-gray-color: #66727F;
  --global-gray-2-color: #4D545E;
  --global-dark-blue-color: #0B1F33;
  --global-dark-color: #13151A;
  --global-light-gray-color: #EDF2FE;
  --global-lighter-gray: #E4ECFD;
  --global-light-gray2-color: #D2DFFB;
  --global-light-gray-color-opacity: #EDF2FE80;
  --global-white-color: #FFFFFF;
  --global-light-gray-color-header: #F5F7FA;
  --global-header-shadow-color: #9DACCF14;
  --global-purple-color: #9B3BE5;
  --global-blue-2-color: #0B40B3;
  --global-light-blue-2-color: #9DACCE;
  --global-yellow-color: #FFF7E1;
  --global-light-gray-2-color: #E1E1E1;
  --global-gray-3-color: #ECF0F8;;
  --global-light-gray-3-color: #D1D5DF;
  --global-light-blue-3-color: #99B1E6;
  --global-gray-4-color: #86909C;
  --global-red-color: #EE3F58;
  --global-blue-3-color: #1D5DEB;
  --global-light-gray-4-color: #E5EAF5;
  --global-black-color: #00000026;
  --global-red-2-color: #E11432;
  --global-light-pink-color: #FCD9DE;
  --global-light-pink-2-color: #F8DEE4;
  --global-light-gray-5-color: #E6EBF5CC;
  --global-light-gray-6-color: #E3EBFC;
  --global-sidebar-width-expanded: 280px;
  --global-sidebar-width-collapsed: 72px;
  --global-green:#03959E;
  --global-green-button:#16A086;
  --global-light-orange: #FEF0CC;
  --global-light-purple: #F0DEFE;
  --global-green-2-color: #DDF5E7;
  --global-yellow-2-color: #F8B200;
  --global-orange-color:#FF8A00;
}
