:root,
p-radiobutton,
.p-radiobutton {
  // Размеры
  --p-radiobutton-width: 1.5rem;
  --p-radiobutton-height: 1.5rem;
  --p-radiobutton-icon-size: 0.875rem;

  // Базовое состояние
  --p-radiobutton-border-color: var(--global-blue-color);
  --p-radiobutton-background: var(--global-white-color);
  --p-radiobutton-shadow: none;

  // Hover
  --p-radiobutton-hover-border-color: var(--global-blue-3-color);

  // Checked
  --p-radiobutton-checked-border-color: var(--global-blue-color);
  --p-radiobutton-checked-background: var(--global-white-color);
  --p-radiobutton-icon-checked-color: var(--global-blue-color);
  --p-radiobutton-checked-hover-border-color: var(--global-blue-3-color);
  --p-radiobutton-checked-hover-background: var(--global-white-color);
  --p-radiobutton-icon-checked-hover-color: var(--global-blue-3-color);

  // Focus
  --p-radiobutton-focus-border-color: var(--global-blue-color);
  --p-radiobutton-checked-focus-border-color: var(--global-blue-color);
  --p-radiobutton-focus-ring-style: none;
}
