:root {
  --p-checkbox-border-radius: 0.25rem;
  --p-checkbox-border-color: var(--global-blue-color);
  --p-checkbox-background: var(--global-white-color);
  --p-checkbox-width: 1.5rem;
  --p-checkbox-height: 1.5rem;
  --p-checkbox-shadow: none;
  --p-checkbox-checked-border-color: var(--global-blue-color);
  --p-checkbox-hover-border-color: var(--global-blue-3-color);
  --p-checkbox-icon-checked-color: var(--global-white-color);
  --p-checkbox-icon-size: 0.875rem;
  --p-checkbox-checked-border-color: var(--global-blue-color);
  --p-checkbox-checked-background: var(--global-white-color);
  --p-checkbox-focus-border-color: var(--global-blue-color);
  --p-checkbox-checked-focus-border-color: var(--global-blue-color);
  --p-checkbox-focus-ring-style: none;
  --p-checkbox-disabled-background: #d1d5df;
  --p-checkbox-checked-disabled-border-color: #86909c;
}

.p-checkbox {
  position: relative;
  display: inline-flex;
  user-select: none;
  vertical-align: bottom;
  width: var(--p-checkbox-width);
  height: var(--p-checkbox-height);

  .p-checkbox-input {
    cursor: pointer;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    outline: 0 none;
    border: 1px solid transparent;
    border-radius: var(--p-checkbox-border-radius);
  }
  .p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--p-checkbox-border-radius);
    border: 0.125rem solid var(--p-checkbox-border-color);
    background: var(--p-checkbox-background);
    width: var(--p-checkbox-width);
    height: var(--p-checkbox-height);
    transition: background 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    outline-color: transparent;
    box-shadow: var(--p-checkbox-shadow);
  }
  &.p-disabled .p-checkbox-box {
      background: var(--p-checkbox-disabled-background);
      border-color: var(--p-checkbox-checked-disabled-border-color);
  }
}

.p-card,
.p-dialog,
.p-multiselect-overlay,
.p-datatable,
p-toolbar {
  .gap-075rem-custom {
    gap: 0.75rem;
    margin: 0;
    // gap: 0rem;
    // margin-right: -0.5rem;
    // margin-left: -0.5rem;

    .col-md-6 {
      flex: 1;
      width: auto;
      padding: 0;
    }
  }
  .padding-right-custom {
    padding: 0;
  }
  .padding-left-custom {
    padding: 0;
  }
  .p-checkbox-box {
    border-width: 0.125rem;

    &:has(.icon-del-ring) {
      border: none;
      background: none;
      font-size: 24px;
    }
  }

  .p-datatable-table .button-check .p-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--p-checkbox-border-radius);
    border: 1px solid var(--p-checkbox-border-color);
    background: var(--p-checkbox-background);
    width: var(--p-checkbox-width);
    height: var(--p-checkbox-height);
    transition: background var(--p-checkbox-transition-duration),
      color var(--p-checkbox-transition-duration),
      border-color var(--p-checkbox-transition-duration),
      box-shadow var(--p-checkbox-transition-duration),
      outline-color var(--p-checkbox-transition-duration);
    outline-color: transparent;
    box-shadow: var(--p-checkbox-shadow);
    border-width: 0.125rem;
    padding: 0;

    .p-button-icon {
      background-color: var(--global-blue-color);
      border-radius: 0.125rem;
      vertical-align: middle;
      width: var(--p-checkbox-icon-size);
      height: var(--p-checkbox-icon-size);
      font-size: var(--p-checkbox-icon-size);
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:before {
        color: var(--global-white-color);
      }
    }

    &:has(.icon-check):hover {
      border-color: var(--global-blue-3-color);
      background-color: var(--global-white-color);

      .p-button-icon {
        background-color: var(--global-blue-3-color);
      }
    }
  }
  .p-checkbox-icon::before {
    color: unset;
  }
  .p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box,
  .p-datatable-table .button-check:hover {
    --p-checkbox-background: var(--global-light-gray-4-color);

    // .p-iconwrapper:before {
    //   color: var(--global-light-gray-4-color);
    // }
  }
  .p-checkbox:not(.p-disabled):has(.p-checkbox-input:focus-visible) .p-checkbox-box {
    --p-checkbox-background: var(--global-light-gray-4-color);
    --p-checkbox-border-color: var(--global-blue-3-color);
  }
  .p-checkbox:not(.p-disabled):has(.p-checkbox-input:disabled) .p-checkbox-box,
  .p-checkbox:not(.p-disabled):has(.p-checkbox-input:disabled:hover) .p-checkbox-box {
    --p-checkbox-border-color: var(--global-gray-4-color);
    --p-checkbox-background: var(--global-light-gray-3-color);
    border-color: var(--global-gray-4-color);
  }
  .p-checkbox-checked:not(.p-disabled) .p-checkbox-box .p-checkbox-icon,
  .p-checkbox-checked .p-checkbox-box .p-iconwrapper,
  .p-checkbox-input--copy:checked + .p-checkbox-box .p-iconwrapper  {
    background-color: var(--global-blue-color);
    border-radius: 0.125rem;
    &:before {
      color: var(--global-white-color);
    }
  }

  .p-checkbox svg.p-checkbox-icon {
    display: none;
  }

  .p-checkbox .p-iconwrapper {
    vertical-align: middle;
    width: var(--p-checkbox-icon-size);
    height: var(--p-checkbox-icon-size);
    font-size: var(--p-checkbox-icon-size);
    &::before {
      font-family: 'icomoon' !important;
      content: $icon-check;
      color: transparent;
      font-weight: normal;
    }
  }

  .p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box,
  .p-checkbox-input--copy:checked:hover + .p-checkbox-box {
    --p-checkbox-checked-hover-border-color: var(--global-blue-3-color);
    --p-checkbox-checked-hover-background: var(--global-white-color);

    .p-checkbox-icon,
    .p-iconwrapper {
      background-color: var(--global-blue-3-color);

      &:before {
        color: var(--global-white-color);
      }
    }
  }
  .p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:focus-visible) .p-checkbox-box,
  .p-checkbox-input--copy:checked:focus-visible + .p-checkbox-box {
    --p-checkbox-checked-border-color: var(--global-blue-3-color);

    .p-checkbox-icon,
    .p-iconwrapper {
      background-color: var(--global-blue-3-color);

      &:before {
        color: var(--global-white-color);
      }
    }
  }
  .p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:disabled) .p-checkbox-box,
  .p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:disabled:hover) .p-checkbox-box,
  .p-checkbox-input--copy:checked:disabled + .p-checkbox-box,
  .p-checkbox-input--copy:checked:disabled:hover + .p-checkbox-box {
    --p-checkbox-border-color: var(--global-gray-4-color);
    --p-checkbox-checked-border-color: var(--global-gray-4-color);
    --p-checkbox-background: var(--global-light-gray-3-color);
    --p-checkbox-checked-background: var(--global-light-gray-3-color);
    --p-checkbox-checked-hover-background: var(--global-light-gray-3-color);

    .p-checkbox-icon,
    .p-iconwrapper {
      background-color: var(--global-gray-4-color);

      &:before {
        color: var(--global-light-gray-3-color);
      }
    }
  }



  .fake-checked {
    .p-checkbox-box {
      border-color: var(--p-checkbox-checked-disabled-border-color);
      pointer-events: none;
      cursor: default;

      .checked {
        background: var(--p-checkbox-checked-disabled-border-color);
        width: 0.875rem;
        height: 0.875rem;
        border-radius: 0.125rem;

        &:before {
          color: var(--global-white-color);
          font-size: var(--p-checkbox-icon-size);
          display: block;
        }
      }
    }

    .p-checkbox-input:hover + .p-checkbox-box {
      background-color: var(--global-white-color);
    }
  }
}

.height-input {
  height: 3rem;
}

.checkbox-wrapper {
  width: fit-content;
  height: 3rem;
}
.p-checkbox.p-disabled .p-checkbox-icon {
  background-color: #86909c;
  &::before {
    color: var(--global-white-color);
  }
}

p-checkbox {
  .p-checkbox {
    input[readonly] + .p-checkbox-box {
      border-color: var(--p-checkbox-checked-disabled-border-color);
      background-color: var(--global-light-gray-3-color);
    }
  }
  .p-checkbox-checked:not(.p-disabled) {
    input[readonly] + .p-checkbox-box {
      .p-checkbox-icon,
      checkicon {
        background-color: var(--global-gray-4-color);
      }
    }
    .p-checkbox-input[readonly]:hover + .p-checkbox-box {
      .p-checkbox-icon {
        background-color: var(--global-gray-4-color);
      }
    }
  }
  &:has(input[readonly]) {
    pointer-events: none;
  }
}

.p-checkbox.p-disabled .checked-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  background-color: var(--global-gray-4-color);

  &:before {
    color: var(--global-white-color);
  }
}

p-checkbox {
  .p-checkbox-checked.p-disabled {
    .p-checkbox-box {
      .p-iconwrapper {
        background-color: var(--global-gray-4-color);
      }
    }
  }
}