.p-datatable-filter {
  min-width: 4.625rem;
  position: relative;
}
.p-datatable-filter-overlay-popover {
  --p-datatable-filter-overlay-popover-border-radius: 1rem;
  --p-datatable-filter-overlay-popover-padding: 1rem 1rem 1.625rem;
  --p-datatable-filter-overlay-popover-gap: 0.625rem;
  min-width: 19rem;
  p-select {
    height: 3rem;
    .p-iconwrapper {
      svg {
        display: none;
      }
      &::before {
        content: $icon-accordion;
        font-family: '#{$icomoon-font-family}' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: #0d4cd3;
        font-size: 1.8rem;
        transform: rotate(0deg);
        transition: transform 0.35s ease;
      }
    }
    &.p-select-open .p-iconwrapper::before {
      transform: rotate(180deg);
      transition: transform 0.35s ease;
    }
    & > span {
      line-height: 21px;
    }
  }
  .p-datatable-filter-rule {
    border-bottom: unset;
    p-columnfilterformelement input {
      width: 100%;
      height: 3rem;
    }
  }
  .p-datatable-filter-add-rule-button {
    --p-button-text-info-color: #0d4cd3;
    --p-button-label-font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    margin-top: -10px;
    padding: 0;
    justify-content: start;
    border: none;
    &:hover {
      background-color: transparent;
      --p-button-text-info-color: var(--global-blue-3-color);
    }
    .p-iconwrapper {
      svg {
        width: 13.5px;
      }
    }
  }
  .p-datatable-filter-buttonbar {
    justify-content: center;
    gap: 20px;
    margin-top: 28px;
    .p-button-outlined {
      padding: 12px 24px;
      border: 2px solid #0d4cd3;
      color: #0d4cd3;
      span {
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
      }
      &:hover {
        background: var(--global-light-gray-color-header);
        border: 2px solid var(--global-blue-3-color);
        color: var(--global-blue-3-color);
      }
    }
    p-button {
      .p-button {
        padding: 10px 24px;
      }
    }
    p-button:last-child {
      .p-button {
        padding: 10px 24px;
        border: 2px solid transparent;
        color: #ffffff;
        background: #0d4cd3;
        span {
          font-weight: 400;
          font-size: 1rem;
          line-height: 24px;
        }
        &:hover {
          background: var(--global-blue-3-color);
        }
      }
    }
  }
  .p-datatable-filter-remove-rule-button {
    justify-content: start;
    font-size: 16px;
    line-height: 24px;
    color: #e11432;
    span {
      font-weight: 400;
    }
    .p-iconwrapper {
      svg {
        display: none;
      }
      &::before {
        content: $icon-remove;
        font-family: '#{$icomoon-font-family}' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 19px;
        color: #e11432;
      }
    }
    &:hover {
      background: transparent;
      color: #ee3f58;
      .p-iconwrapper::before {
        color: #ee3f58;
      }
    }
    &:active {
      background: transparent;
      color: #e11432;
      .p-iconwrapper::before {
        color: #e11432;
      }
    }
  }
}
