:root {
  --p-menubar-background: var(--global-white-color);
  --p-menubar-padding: 0.5rem 1rem;
  --p-menubar-border-radius: 0;
}
.container-content-header {
  background-color: var(--global-white-color);
  border-bottom: 0.0625rem solid var(--global-light-gray-color-header);
  box-shadow: 0 0.125rem 0.125rem 0 var(--global-header-shadow-color);
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 1000;

  p-menubar {
    display: flex;
    justify-content: center;
  }
}
.white-header {
  max-width: 1920px;
  width: 100%;
  height: 64px;
  position: fixed;
  border: none;
  font-family: var(--global-main-font);
  font-size: 1.125rem;
  letter-spacing: var(--global-main-letter-spacing);
  color: var(--global-dark-blue-color);

  .p-menubar-start {
    gap: 16px;
  }
  .top-left-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--global-sidebar-width-expanded);
    transition: width 0.35s ease;

    .icon {
      display: inline-block;
      width: 0;
      margin-right: 0;
      margin-left: 0;
      overflow: hidden;
      transition: width 0.22s ease, margin-right 0.35s ease, margin-left 0.35s ease;

      span {
        font-size: 2.25rem;
        &::before {
          opacity: 0;
          transition: opacity 0.35s ease;
        }
      }
    }
    .text {
      max-width: 222.45px;
      max-height: 36px;
      opacity: 1;
      transition: max-width 0.35s ease, opacity 0.35s ease;
      font-weight: var(--global-bold-font-weight);
      line-height: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .controls-and-heading {
    h3 {
      font-size: 1.5rem;
      line-height: 1;
      font-weight: var(--global-bold-font-weight);
      margin: unset;
    }
  }
}

.sidebarCollapsed {
  .top-left-info {
    width: var(--global-sidebar-width-collapsed);

    .icon {
      width: 37.66px;
      margin-right: 0.5rem;
      margin-left: calc((var(--global-sidebar-width-collapsed) - 37.66px) / 2);
      span::before {
        opacity: 1;
      }
    }
    .text {
      max-width: 0;
      opacity: 0;
    }
  }
}

.p-link {
  font-size: 1rem;
  color: var(--global-blue-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  align-self: baseline;
  margin-top: 1px;

  .icon-arrow {
    transform: rotate(90deg);
    display: inline-flex;
    font-size: 20px;
  }
}
