:root {
    --p-mask-background: #0B1F331A;

        --p-dialog-border-color: none;
        --p-dialog-color: var(--global-dark-color);
        --p-dialog-border-radius: 1rem;
        --p-dialog-shadow: none;
        --p-dialog-header-padding: 2rem 2rem 1rem;
    --p-dialog-header-gap: 0.5rem;
        --p-dialog-title-font-size: 1.5rem;
    --p-dialog-title-font-weight: 700;
        --p-dialog-content-padding: 0 2rem 2rem 2rem;
    --p-dialog-footer-padding: 0 var(--p-overlay-modal-padding) var(--p-overlay-modal-padding) var(--p-overlay-modal-padding);
    --p-dialog-footer-gap: 0.5rem;
}

.p-dialog {
        --p-fieldset-background: none;
        --p-fieldset-border-color: none;
        --p-fieldset-border-radius: none;
        --p-fieldset-color: var(--global-dark-blue-color);
        --p-fieldset-padding: 0;
    --p-fieldset-transition-duration: var(--p-transition-duration);
    --p-fieldset-legend-background: var(--p-content-background);
    --p-fieldset-legend-hover-background: var(--p-content-hover-background);
        --p-fieldset-legend-color: var(--global-dark-blue-color);
    --p-fieldset-legend-hover-color: var(--p-content-hover-color);
    --p-fieldset-legend-border-radius: var(--p-content-border-radius);
    --p-fieldset-legend-border-width: 1px;
    --p-fieldset-legend-border-color: transparent;
    --p-fieldset-legend-padding: 0;
    --p-fieldset-legend-gap: 0.5rem;
    --p-fieldset-legend-font-weight: 600;
    --p-fieldset-legend-focus-ring-width: var(--p-focus-ring-width);
    --p-fieldset-legend-focus-ring-style: var(--p-focus-ring-style);
    --p-fieldset-legend-focus-ring-color: var(--p-focus-ring-color);
    --p-fieldset-legend-focus-ring-offset: var(--p-focus-ring-offset);
    --p-fieldset-legend-focus-ring-shadow: var(--p-focus-ring-shadow);
    --p-fieldset-toggle-icon-color: var(--p-text-muted-color);
    --p-fieldset-toggle-icon-hover-color: var(--p-text-hover-muted-color);
    --p-fieldset-content-padding: 0;
}

.p-dialog-mask {
    background: var(--p-mask-background);
    z-index: 1001;
}

.p-dialog {
    line-height: 1.5rem;
    font-family: var(--global-main-font);

    .p-fieldset .p-fieldset-content {
        gap: 0.75rem;
        display: flex;
        flex-direction: column;
    }

    .horizontal-group {
        &.gap-40 {
            gap: 2.5rem;
        }
    }

    .buttons-block--top {
        padding-top: 2.5rem;
    }
}

.p-dialog-close-button {
    top: -1.3125rem;
    right: -1.375rem;
    position: relative;
    outline: none;
    --p-button-text-secondary-hover-background: #fff;
    --p-button-text-secondary-active-background: #fff;
    --p-button-text-secondary-color: #66727F;
    --p-button-text-secondary-hover-color: var(--global-blue-3-color);
    --p-button-text-secondary-active-color: var(--global-blue-2-color);

    .p-iconwrapper {
        font-size: 24px;

        &:before {
            content: $icon-close-large;
            font-family: 'icomoon';
            color: var(--p-button-text-secondary-color);
        }
    }

    &:hover {
        .p-iconwrapper:before {
            color: var(--p-button-text-secondary-hover-color);
        }
    }

    &:active,
    &:focus-visible {
        .p-iconwrapper:before {
            color: var(--p-button-text-secondary-active-color);
        }
    }

    svg {
        width: 1.1rem;
        display: none;
    }
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 0.75rem)/2));
    gap: 1.5rem 0.75rem;
}

.filter-block {
    grid-column: 3 / 1;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 0.75rem) / 2));
    gap: 1.5rem 0.75rem;
}

p-button:not(:has(.token)):has(.button-icon) ~ p-button:has(.button-icon) .button-icon {
    // flex-direction: row-reverse;

    .icon-arrow-right.left,
    .icon-step.left,
    .icon-token.left {
        transform: rotate(0deg);
        order: 1;
    }
}

.buttons-bottom {
    padding-top: 2.5rem;
}

.popup {
    .p-dialog {
        width: 57.5rem;
    }
    &--big .p-dialog {
        width: 90vw;
        max-width: 82.5rem;
    }
    &--fullwidth .p-dialog {
        width: calc(100vw - 2.5rem);
        max-width: 117.5rem;
    }
}

.dialog-block {
    flex-shrink: 0;
}
.dialog-block1-1 {
    width: 8.25rem;
}
.dialog-block1-2 {
    width: 7.5rem;
    margin-left: -0.625rem;
}
.dialog-block1-3 {
    width: 10.625rem;
}
.dialog-block1-4 {
    flex-shrink: 1;
    flex-grow: 1;
}
.dialog-block4-1 {
    width: 14.375rem;
}
.dialog-block4-2 {
    flex-shrink: 1;
    flex-grow: 1;
}
.dialog-block8-1 {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}
.dialog-block8-2 {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}

.p-dialog-content:has(.button-status) {
    position: relative;
    padding-top: 50px;

    .button-status {
        position: absolute;
        // left: 0;
        top: 0;
    }
}

.p-dialog-mask:has(.auditorium-dialog) {
  overflow-y: auto;
  display: flex;
  align-items: center;
}
.auditorium-dialog {
  --p-dialog-header-padding: 2rem 2rem 1rem;
  --p-button-padding-x: 0;
  --p-button-padding-y: 0;

  max-height: unset;
  height: auto;
  width: fit-content !important;
  margin: auto;

  .p-dialog-close-button {
    top: -1rem;
    right: -1rem;
  }
  .p-dialog-header {
    max-height: 5rem;
  }
  .p-dialog-content > ng-component > .row {
    height: 3rem;
    border-radius: 0.75rem;
    background-color: var(--global-light-gray-color);
    margin: 0;

    div {
      padding: 0 0.5rem 0 0.5rem;
    }

    .p-togglebutton {
      border: none;

      &::before {
          height: unset;
          bottom: 0.0625rem;
          border-bottom: 0.125rem solid transparent;
          transition: border-color 0.35s ease;
      }
    }
    .p-togglebutton:hover {
      &:before {
          border-color: var(--global-light-blue-2-color);
      }
    }
    .p-togglebutton-checked::before {
      border-color: var(--global-blue-color);
    }
    .p-togglebutton:focus-visible {
      --p-togglebutton-padding: 0.75rem 0.9375rem;
      font-weight: var(--global-bold-font-weight);
      color: var(--global-dark-blue-color);

      &:before {
          border: 0.125rem solid var(--global-purple-color);
          width: 100%;
          inset-inline-start: 0;
          --p-togglebutton-border-radius: 0.75rem;
          background: var(--global-yellow-color);
      }
    }
  }
  .p-dialog-title {
    line-height: 2rem;
  }
  .p-floatlabel label {
    --p-floatlabel-position-x: 0;

    font-size: 0.875rem;
    font-weight: var(--global-main-font-weight);
    line-height: 1.25rem;
    transform: none;
  }
  .required-asterisk::after {
    content: " *";
    color: var(--global-red-color);
  }
  div:has(p-radiobutton) {
    label {
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--global-dark-blue-color);
    }
  }
  .p-floatlabel:has(.p-inputnumber) {
    label {
      --p-floatlabel-active-font-size: 0.875rem;
      --p-floatlabel-label-active-font-weight: var(--global-main-font-weight);
      --p-floatlabel-over-active-top: -1.5rem;
      --p-floatlabel-position-x: 0;

      font-size: 0.875rem;
      font-weight: var(--global-main-font-weight);
      line-height: 1.25rem;
      transform: none;
    }
  }
  .p-floatlabel:has(.p-multiselect) {
    label {
      font-size: 0.875rem;
      font-weight: var(--global-main-font-weight);
      line-height: 1.25rem;
    }
  }
  .p-multiselect,
  .p-multiselect-label-container {
    height: 3rem;
  }
  .p-multiselect-dropdown {
    padding-right: 1rem;
  }
  .p-fieldset-legend {
    max-height: 1.75rem;
    margin-bottom: 0.75rem;

    span {
      display: inline-block;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: var(--global-bold-font-weight);
      color: var(--global-dark-color);
    }
  }
  .p-fieldset-content {
    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: var(--global-main-font-weight);
      color: var(--global-dark-blue-color);
      margin-bottom: 0;
    }
  }
  .auditorium-error-message-custom {
    padding: 1rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: var(--global-main-font-weight);
    color: var(--global-dark-blue-color);
    background-color: var(--global-light-pink-2-color);
  }
  .structure {
    width: 41rem;

    table {
      border: none;
      border-top: 1px solid var(--global-light-gray-3-color);
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 0.25rem 0.25rem 0 0;
      overflow: hidden;

      th:first-child,
      td:first-child {
        width: 15%;
      }
      th {
        border: 1px solid var(--global-light-gray-3-color);
        border-width: 0 0 1px 1px;
        font-weight: var(--global-main-font-weight);
        color: var(--global-dark-blue-color);

        &:last-child {
          border-right-width: 1px;
        }
      }
      td {
        border: 1px solid var(--global-light-gray-2-color);
        border-width: 0 0 1px 1px;
        font-weight: var(--global-main-font-weight);
        color: var(--global-dark-blue-color);

        &:last-child {
          border-right-width: 1px;
        }
      }
      thead {
        background-color: var(--global-light-gray-color-header);

        th {
          font-size: 0.875rem;
          line-height: 1.25rem;
          padding: 0.475rem 0.5rem;
        }
        tr:first-child {
          border-top-right-radius: 0.25rem;
          border-top-left-radius: 0.25rem;
          th:first-child {
            border-top-left-radius: 0.25rem;
          }
          th:last-child {
            border-top-right-radius: 0.25rem;
          }
        }
      }
      td {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.725rem 0.5rem;
      }
    }
  }
  .p-tabs {
    margin-bottom: 0;
  }
}

.add-school-card-class-modal {
  --p-dialog-header-padding: 2rem 2rem 0;
  --p-button-padding-x: 0.5rem;

  width: 57.5rem !important;

  .p-dialog-header {
    height: 4rem;

    .p-dialog-close-button {
      top: -1.1rem;
    }
  }
  legend {
    display: none;
  }
  .p-inputicon {
    .p-iconwrapper svg {
      width: 18px;

      path {
        fill: var(--global-blue-color);
      }
    }
  }
  .p-fieldset {
    .p-fieldset-content {
      gap: 0;
    }
  }
}

@supports (scrollbar-color: gray white) and (-moz-appearance: none) {
  .p-dialog {
    scrollbar-color: var(--global-gray-color) var(--global-white-color);
    scrollbar-width: auto;
  }
}
.p-dialog {
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--global-light-gray-3-color);
    background-clip: padding-box;
    border: solid transparent 0.3125rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  @supports (scrollbar-color: gray white) and (-moz-appearance: none) {
    .p-dialog-content {
      scrollbar-color: var(--global-gray-color) var(--global-white-color);
      scrollbar-width: auto;
    }
  }
  .p-dialog-content {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: var(--global-light-gray-3-color);
      background-clip: padding-box;
      border: solid transparent 0.3125rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--global-gray-color);
    }
  }
}

.orders-em-form-custom {
  --p-dialog-header-padding: 2rem 2rem 0 2rem;
  --p-dialog-title-font-size: 1.5rem;
  --p-dialog-title-font-weight: var(--global-bold-font-weight);
  --p-dialog-content-padding: 1.5rem 2rem 2rem 2rem;
  --p-fieldset-legend-font-weight: var(--global-bold-font-weight);
  --p-fieldset-color: var(--global-dark-color);
  --p-divider-horizontal-margin: 1.5rem 0;

  overflow-y: scroll;

  .p-fieldset {
    .p-fieldset-content {
      gap: 0;
    }
  }
  .p-dialog-title {
    line-height: 2rem;
  }
  .p-dialog-close-button {
    right: -1.5625rem;
    font-size: 1.5rem;

    span::before {
      color: inherit;
    }
    &:focus-visible {
      color: var(--p-button-text-secondary-active-color);
    }
  }
  .p-button-text.p-button-secondary:not(:disabled):hover {
    color: var(--p-button-text-secondary-hover-color);
  }
  .p-button-text.p-button-secondary:not(:disabled):active {
    color: var(--p-button-text-secondary-active-color);
  }
  .p-fieldset-legend {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
}
@supports (scrollbar-color: gray white) and (-moz-appearance: none) {
  .orders-em-form-custom {
    scrollbar-color: var(--global-gray-color) var(--global-white-color);
    scrollbar-width: auto;
  }
}
.orders-em-form-custom {
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--global-light-gray-3-color);
    background-clip: padding-box;
    border: solid transparent 0.3125rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--global-gray-color);
  }
}

.p-dialog-content {
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--global-light-gray-3-color);
    background-clip: padding-box;
    border: solid transparent 0.3125rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--global-gray-color);
  }
}

.em-form-new-request-custom {
  --p-dialog-header-padding: 2rem 2rem 0;

  .p-dialog-title {
    line-height: 2rem;
  }
  .p-dialog-close-button {
    top: -1.2rem;
    right: -1.55rem;
  }
  .p-floatlabel {
    margin-top: 1.5rem;
  }
  .info {
    order: 2;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    background-color: var(--global-green-2-color);
  }
  .info:has(.warning) {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .warning {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--global-light-pink-2-color);
  }
  .bold-custom {
    font-weight: var(--global-bold-font-weight);
  }
  .p-dialog-content {
    overflow: auto;
  }
}

.planning-workers-decline-custom {
  .p-dialog-header {
    max-height: 3.5rem;

    p-button {
      position: relative;
      top: -0.1875rem;
      right: -0.9375rem;
    }
  }
  .p-dialog-close-button {
    padding: 0;
    top: 0;
    right: 0;
  }
  .p-dialog-content {
    div {
      & > span {
        font-size: 5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.p-dialog:has(.technical-equipment-dialog) {
  .p-dialog-header {
    height: 3.5rem;
    padding: 0.5rem 0.6rem 0;
  }
}

body:has(.planning-auditories-form-main-dialog:not(:empty)),
body:has(.certificate-list-dialog:not(:empty)) {
  overflow: hidden;
}

.modal-custom {
  @supports (scrollbar-color: gray white) and (-moz-appearance: none) {
    .p-dialog-content {
      scrollbar-color: var(--global-gray-color) var(--global-white-color);
      scrollbar-width: auto;
    }
  }
  .p-dialog-content {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: var(--global-light-gray-3-color);
      background-clip: padding-box;
      border: solid transparent 0.3125rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--global-gray-color);
    }
  }
}

.auto-assign-worker-modal {
  .p-fieldset {
    .p-fieldset-content {
      gap: 1.5rem;
    }
  }
}

.modal-custom-content-scroll {
  --p-dialog-content-padding: 0 0 2rem;

  .p-dialog-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    ng-component {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 0;

      form {
        overflow-y: auto;
        flex-grow: 1;
        min-height: 0;
        padding: 0 2rem;
       }
    }
  }
  @supports (scrollbar-color: gray white) and (-moz-appearance: none) {
    ng-component form {
      scrollbar-color: var(--global-gray-color) var(--global-white-color);
      scrollbar-width: auto;
    }
  }
  ng-component form {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: var(--global-light-gray-3-color);
      background-clip: padding-box;
      border: solid transparent 0.3125rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--global-gray-color);
    }
  }
}

.gia-participant-list-pre-search-modal {
  .p-datatable-table-container {
    padding-bottom: 0;
  }
  .p-dialog-content ng-component form {
    padding-bottom: 0.03125rem;
  }
}

.modal-custom-content-scroll-2 {
   --p-dialog-content-padding: 0 0 2rem;

   .p-selectbutton {
    width: fit-content;
   }
  .p-dialog-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    fis-gia-gia-participant-appointment-dialog {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 0;

      > .for-scroll {
        overflow-y: auto;
        flex-grow: 1;
        min-height: 0;
        padding: 0 2rem;
       }
    }
  }
  @supports (scrollbar-color: gray white) and (-moz-appearance: none) {
    fis-gia-gia-participant-appointment-dialog .for-scroll {
      scrollbar-color: var(--global-gray-color) var(--global-white-color);
      scrollbar-width: auto;
    }
  }
  fis-gia-gia-participant-appointment-dialog .for-scroll {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: var(--global-light-gray-3-color);
      background-clip: padding-box;
      border: solid transparent 0.3125rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--global-gray-color);
    }
  }
}

.modal-custom-content-scroll-3,
.appointment-on-exam,
.planning-auditories-form-main-dialog {
   --p-dialog-content-padding: 0 0 2rem;

  .p-dialog-content {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;

    ng-component {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 0;

      > div {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 0;

        .for-scroll {
          overflow-y: auto;
          flex-grow: 1;
          min-height: 0;
          padding: 0 2rem;
        }
      }
    }
    > div {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 0;

      .for-scroll {
        overflow-y: auto;
        flex-grow: 1;
        min-height: 0;
        padding: 0 2rem;

        p-fieldset:last-child {
          position: relative;
          margin-bottom: 0.03125rem;
        }
      }
    }
    > form {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 0;

      .for-scroll {
        overflow-y: auto;
        flex-grow: 1;
        min-height: 0;
        padding: 0 2rem;
      }
    }
  }
  @supports (scrollbar-color: gray white) and (-moz-appearance: none) {
    .for-scroll {
      scrollbar-color: var(--global-gray-color) var(--global-white-color);
      scrollbar-width: auto;
    }
  }
  .for-scroll {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: var(--global-light-gray-3-color);
      background-clip: padding-box;
      border: solid transparent 0.3125rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--global-gray-color);
    }
  }
}

.modal-custom-content-scroll-4 {
  --p-dialog-content-padding: 0 0 2rem;

  .p-dialog-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    > .p-accordion {
      overflow-y: auto;
      flex-grow: 1;
      min-height: 0;
      padding: 0 2rem;
    }
    > .for-scroll {
      overflow-y: auto;
      flex-grow: 1;
      min-height: 0;
      padding: 0 2rem !important;
    }
  }
  @supports (scrollbar-color: gray white) and (-moz-appearance: none) {
    .p-accordion,
    .for-scroll {
      scrollbar-color: var(--global-gray-color) var(--global-white-color);
      scrollbar-width: auto;
    }
  }
  .p-accordion,
  .for-scroll {
    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: var(--global-light-gray-3-color);
      background-clip: padding-box;
      border: solid transparent 0.3125rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--global-gray-color);
    }
  }
}

.margin-x-2rem-custom {
  margin-right: 2rem;
  margin-left: 2rem;
}

.required-asterisk::after {
  content: " *";
  color: var(--global-red-color);
}

.margin-bottom-1-25rem-custom {
  margin-bottom: 1.25rem;
}
.margin-top-1-25rem-custom {
  margin-top: 1.25rem;
}
.margin-bottom-075rem-custom {
  margin-bottom: 0.75rem;
}
.margin-top-2rem-custom {
  margin-top: 2rem;

  &:empty {
    margin-top: 0;
  }
}
.margin-top-2-5rem-custom {
  margin-top: 2.5rem;
}

.height-150 {
  min-height: 9.375rem;
  display: block;
}

.height-400 {
  min-height: 25rem;
  display: block;
}

.popup-500 {
  height: 90vh;
  max-height: 31.25rem;
}

.rounded-border {
  padding: 1rem;
  border-radius: 0.75rem;
  flex: 1;
}

.group-carousel {
  .p-carousel-item {
    display: flex;
    flex-direction: column;
  }
}

.dialog-search-height {
  min-height: 20rem;
  display: block;
}

.padding-bottom-0-5px-custom {
  form,
  .for-scroll {
    padding-bottom: 0.03125rem !important;
  }
}

.orange-message {
  display: block;
  padding: 16px;
  background: #FEF0CC;
  border-radius: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #0B1F33;
}
.p-confirmdialog-message:has(.orange-message) {
  display: block;
  width: 100%;
}