:root {
  --p-togglebutton-background: none;
  --p-togglebutton-checked-background: none;
  --p-togglebutton-content-checked-background: none;
  --p-togglebutton-content-checked-shadow: none;
  --p-togglebutton-color: var(--global-blue-color);
  --p-togglebutton-checked-color: var(--global-dark-blue-color);
  --p-togglebutton-padding: 0.75rem 1rem;
  --p-togglebutton-border-radius: 0;
  --p-togglebutton-content-left: 1rem;
  --p-togglebutton-transition-duration: 0.2s;
  --p-togglebutton-hover-background: transparent;
  --p-togglebutton-hover-color: var(--global-blue-2-color);
  --p-togglebutton-font-weight: var(--global-main-font-weight);
  --p-togglebutton-focus-ring-style: none;
}

.p-card {
  .p-error.p-error-exclamation {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0.5rem;
    width: 1.563rem;
    height: 1.25rem;
    background: var(--global-red-color);
    border-radius: 0.625rem;
    color: var(--global-white-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-style: normal;
    padding: 0;
    margin-left: 0.5rem;
    flex-shrink: 0;
  }
  .p-togglebutton {
    border: none;

    &:before {
      height: unset;
      bottom: 0.0625rem;
      border-bottom: 0.125rem solid transparent;
    }
  }
  .p-togglebutton:hover {
    &:before {
      border-bottom: 0.125rem solid var(--global-light-blue-2-color);
    }
  }
  .p-togglebutton-checked:hover {
    cursor: default;
  }
  .p-togglebutton-checked:before {
    border-bottom: 0.125rem solid var(--global-blue-color);
  }
  .p-togglebutton:focus-visible {
    --p-togglebutton-padding: 0.75rem 0.9375rem;
    font-weight: var(--global-bold-font-weight);
    color: var(--global-dark-blue-color);

    &:before {
      border: 0.125rem solid var(--global-purple-color);
      width: 100%;
      inset-inline-start: 0;
      --p-togglebutton-border-radius: 0.75rem;
      background: var(--global-yellow-color);
    }
  }
}
.tabs-hidden-custom {
  .p-tablist {
    display: none;
  }
}
.datatable-tabs,
.tabview-inner-tabs .p-tablist {
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  background: var(--global-light-gray-color);
  border-radius: 0.75rem;

  .p-togglebutton,
  .p-tab {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    &:before {
      content: none;
    }

    &:not(.p-togglebutton-checked):hover {
      background: var(--global-lighter-gray);
    }
  }

  &.p-tablist {
    margin-right: auto;
  }

  &.p-tablist .p-tablist-content .p-tablist-tab-list {
    --p-tabs-tablist-background: transparent;
    flex-wrap: nowrap;
    row-gap: 0.25rem;
    column-gap: 0.25rem;
    padding: 0;
    border: unset;
  }
  &.p-tablist .p-tablist-content .p-tablist-tab-list .p-tab.p-tab-active {
    background: var(--p-tabs-tab-active-background);
    --p-tabs-tab-active-border-color: transparent;
    --p-tabs-tab-active-color: #0b1f33;
  }
  &.p-tablist .p-tablist-content .p-tablist-tab-list .p-tab {
    --p-tabs-tab-padding: 0.25rem 1rem;
    --p-tabs-tab-color: var(--global-blue-color);
    --p-tabs-tab-border-color: transparent;
    --p-tabs-tab-border-width: 1px;
    font-weight: 400;
  }
  &.p-tablist .p-tablist-content .p-tablist-tab-list .p-tab:not(.p-tab-active):not(.p-disabled):hover {
    --p-tabs-tab-hover-border-color: var(--global-lighter-gray);
    // --p-tabs-tab-hover-color: var(--global-lighter-gray);
  }
}

.tabs-hidden-custom {
  .p-tablist {
    display: none;
  }
}
.icon-only {
  width: 24px;
  font-size: 24px;
}
.p-tablist {
  margin-bottom: 1rem;
  .p-tablist-content {
    .p-tablist-tab-list {
      --p-tabs-tablist-background: #ecf0f8;
      flex-wrap: wrap;
      row-gap: 12px;
      column-gap: 2rem;
      padding: 0 1rem;
      border: unset;
      .p-tab {
        --p-tabs-tab-padding: 10px 0;
        --p-tabs-tab-color: var(--global-blue-color);
        --p-tabs-tab-border-color: #ecf0f8;
        --p-tabs-tab-border-width: 0 0 2px 0;
        font-weight: 400;
        &.p-tab-active {
          background: var(--p-tabs-tab-active-background);
          --p-tabs-tab-active-border-color: var(--global-blue-color);
          --p-tabs-tab-active-color: #0b1f33;
        }
        &:not(.p-tab-active):not(.p-disabled):hover {
          --p-tabs-tab-hover-border-color: #9dacce;
          --p-tabs-tab-hover-color: var(--global-blue-color);
        }
        // &:focus {
        //   color: #0b1f33;
        //   border-radius: 12px;
        //   border: 2px solid #9b3be5;
        //   background: #fff7e1;
        //   padding: 12px 1rem;
        // }
      }
      .p-tablist-active-bar {
        display: none;
      }
    }
  }
}

.activity-areas-content-container {
  font-weight: var(--global-main-font-weight);

  .datatable-tabs {
    padding: 0;
    flex-wrap: wrap;
  }
  .p-button-label {
    display: flex;
    align-items: center;
  }
  .button-icon-tabs:hover {
    --p-button-secondary-hover-background: var(--global-lighter-gray);
  }
}

.tabs-custom {
  --p-button-info-background: transparent;
  --p-button-info-border-color: transparent;
  --p-button-info-color: var(--global-dark-blue-color);

  --p-button-info-hover-background: transparent;
  --p-button-info-hover-border-color: transparent;
  --p-button-info-hover-color: var(--global-blue-2-color);

  --p-button-info-active-background: transparent;
  --p-button-info-active-border-color: transparent;
  --p-button-info-active-color: var(--global-dark-blue-color);

  --p-button-outlined-info-border-color: transparent;
  --p-button-outlined-info-color: var(--global-blue-color);

  --p-button-outlined-info-hover-background: transparent;
  --p-button-outlined-info-active-background: transparent;

  --p-button-padding-y: 0.75rem;
  --p-button-padding-x: 1rem;
  --p-button-border-radius: 0.75rem;
  --p-button-label-font-weight: var(--global-main-font-weigh);

  button {
    position: relative;
    border-width: 0.125rem;
    line-height: 1.5rem;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 0.125rem solid var(--global-blue-color);
      right: 1rem;
      bottom: 0;
      left: 1rem;
      width: calc(100% - 2rem);
    }
    &:hover {
      &::before {
        border-color: var(--global-light-blue-2-color);
      }
    }
    &:active {
      &::before {
        border-color: var(--global-blue-color);
      }
    }
    &:focus-visible {
      --p-button-info-background: var(--global-yellow-color);
      --p-button-info-border-color: var(--global-purple-color);
      --p-button-info-color: var(--global-dark-blue-color);
      --p-button-label-font-weight: var(--global-bold-font-weight);
      --p-button-outlined-info-border-color: var(--global-purple-color);
      --p-button-outlined-info-color: var(--global-dark-blue-color);
      --p-button-padding-x: 0.9375rem;
      outline: none;
      background-color: var(--global-yellow-color);
    }
  }
  .p-button-outlined {
    &::before {
      border-color: transparent;
    }
    &:hover {
      --p-button-outlined-info-color: var(--global-blue-2-color);
    }
    &:active {
      --p-button-outlined-info-color: var(--global-dark-blue-color);
    }
  }
}

.type-orange:not(:first-child) {
  padding-top: 1.5rem;
  border-top: 1px solid var(--global-light-gray-2-color);

  & ~ .type-orange {
    padding-top: 0;
    border: none;
  }
}
.warning {
  background: var(--global-white-color);
  box-shadow: 0px 1px 4px var(--global-light-gray-6-color), 0px 24px 48px rgba(230, 235, 245, 0.4);
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--global-dark-blue-color);

  a {
    color: var(--global-blue-color);
    text-decoration: none;

    &:hover {
      color: var(--global-blue3-color);
    }
    &:active {
      color: var(--global-blue2-color);
    }
  }

  p {
    white-space: pre;
    margin: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--global-dark-blue-color);
  }

  &:before {
    content: "";
    width: 0.375rem;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  &--red {
    &:before {
      background: var(--global-red-2-color);
    }
  }
  &--orange {
    &:before {
      background: var(--global-orange-color);
    }
  }

  &--green {
    &:before {
      background: var(--global-green);
    }
  }

  &--black {
    &:before {
      background: var(--global-dark-blue-color);
    }
  }
}