:root {
  --p-toast-width: 32rem;
  --p-toast-error-background: var(--global-light-pink-2-color);
  --p-toast-error-border-color: var(--global-red-color);
  --p-toast-error-color: var(--global-red-2-color);
  --p-toast-border-width: 0.375rem;
  --p-toast-blur: 0;
  --p-toast-border-radius: 0.5rem;
  --p-toast-error-shadow: 0 0.25rem 0.5rem 0 var(--global-black-color);
  --p-toast-content-padding: 2rem;
  --p-toast-content-gap: 0;
  --p-toast-text-gap: 0.75rem;
  --p-toast-summary-font-weight: var(--global-bold-font-weight);
  --p-toast-summary-font-size: 1.5rem;
  --p-toast-error-detail-color: var(--global-dark-blue-color);
  --p-toast-detail-font-weight: var(--global-main-font-weight);
  --p-toast-detail-font-size: 1rem;
  --p-toast-close-icon-size: 1.5rem;

  --p-toast-success-background: var(--global-green-2-color);
  --p-toast-success-border-color: var(--global-green-button);
  --p-toast-success-color: var(--global-green-button);
  --p-toast-success-shadow: 0 0.25rem 1rem 0 var(--global-black-color);
  --p-toast-success-detail-color: var(--global-dark-blue-color);

  --p-toast-warn-background: var(--global-yellow-color);
  --p-toast-warn-border-color: var(--global-yellow-2-color);
  --p-toast-warn-color: var(--global-yellow-2-color);
  --p-toast-warn-shadow: box-shadow: 0 0.25rem 1rem 0 var(--global-black-color);
  --p-toast-warn-detail-color: var(--global-dark-blue-color);
  
  --p-toast-info-color: var(--global-green-button);
  --p-toast-info-detail-color: var(--global-dark-blue-color);
  --p-toast-info-background: var(--global-green-2-color);
  --p-toast-info-border-color: var(--global-green-button);
  --p-toast-info-shadow: 0 0.25rem 0.5rem 0 var(--global-black-color);
}

.p-toast {
  font-family: var(--global-main-font);
  line-height: 2rem;
  letter-spacing: var(--global-main-letter-spacing);

  .p-toast-message {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 0.875rem;
    border-top-left-radius: 0.875rem;
  }
  .p-toast-message-icon {
    display: none;
  }
  .p-toast-detail {
    line-height: 1.5rem;
  }
  .p-toast-close-icon {
    svg {
      display: none;
    }
    &::before {
      content: $icon-close-large;
      font-family: 'icomoon';
      color: var(--global-gray-color);
    }
  }
  .p-toast-close-button {
    margin-top: -1rem;
    margin-right: -0.75rem;
  }
}