$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-filter-select: unquote('"\\e900"');
$icon-input-minus: unquote('"\\e901"');
$icon-input-plus: unquote('"\\e902"');
$icon-id: unquote('"\\e964"');
$icon-adm: unquote('"\\e965"');
$icon-token: unquote('"\\e963"');
$icon-settings-app: unquote('"\\e962"');
$icon-groups: unquote('"\\e961"');
$icon-em: unquote('"\\e903"');
$icon-to-first: unquote('"\\e904"');
$icon-tolast: unquote('"\\e905"');
$icon-reports: unquote('"\\e906"');
$icon-sertificate: unquote('"\\e907"');
$icon-remove-filter: unquote('"\\e958"');
$icon-accordion: unquote('"\\e908"');
$icon-step: unquote('"\\e955"');
$icon-verify: unquote('"\\e956"');
$icon-undo: unquote('"\\e954"');
$icon-unfold: unquote('"\\e909"');
$icon-toleft: unquote('"\\e90a"');
$icon-toright: unquote('"\\e90b"');
$icon-save: unquote('"\\e90c"');
$icon-book-check: unquote('"\\e90d"');
$icon-book-minus: unquote('"\\e90e"');
$icon-eye: unquote('"\\e90f"');
$icon-file-stack: unquote('"\\e910"');
$icon-question-ring-80: unquote('"\\e911"');
$icon-refresh: unquote('"\\e912"');
$icon-info: unquote('"\\e913"');
$icon-checkout-ring: unquote('"\\e914"');
$icon-time: unquote('"\\e915"');
$icon-del-ring: unquote('"\\e916"');
$icon-unblocked: unquote('"\\e917"');
$icon-blocked: unquote('"\\e918"');
$icon-menu-items: unquote('"\\e919"');
$icon-arrow-right: unquote('"\\e91a"');
$icon-calendar: unquote('"\\e91b"');
$icon-sort: unquote('"\\e91c"');
$icon-minus: unquote('"\\e91d"');
$icon-link: unquote('"\\e91e"');
$icon-export: unquote('"\\e91f"');
$icon-image: unquote('"\\e920"');
$icon-print: unquote('"\\e921"');
$icon-edit: unquote('"\\e922"');
$icon-download: unquote('"\\e923"');
$icon-wide-search: unquote('"\\e924"');
$icon-search: unquote('"\\e925"');
$icon-check: unquote('"\\e926"');
$icon-participants: unquote('"\\e927"');
$icon-arrow: unquote('"\\e928"');
$icon-logout: unquote('"\\e929"');
$icon-user: unquote('"\\e92a"');
$icon-gia-path1: unquote('"\\e92b"');
$icon-gia-path2: unquote('"\\e92c"');
$icon-gia-path3: unquote('"\\e92d"');
$icon-gia-path4: unquote('"\\e92e"');
$icon-gia-path5: unquote('"\\e92f"');
$icon-gia-path6: unquote('"\\e930"');
$icon-workers: unquote('"\\e931"');
$icon-collapse: unquote('"\\e932"');
$icon-main: unquote('"\\e933"');
$icon-planning: unquote('"\\e934"');
$icon-regional: unquote('"\\e935"');
$icon-registry: unquote('"\\e936"');
$icon-close: unquote('"\\e937"');
$icon-menu: unquote('"\\e938"');
$icon-plus: unquote('"\\e939"');
$icon-close-large: unquote('"\\e93a"');
$icon-paperclip: unquote('"\\e93b"');
$icon-remove: unquote('"\\e93c"');
$icon-delete: unquote('"\\e93d"');
$icon-type-xls: unquote('"\\e93e"');
$icon-type-csv: unquote('"\\e93f"');
$icon-type-ods: unquote('"\\e940"');
$icon-type-fnc: unquote('"\\e941"');
$icon-type-png: unquote('"\\e942"');
$icon-type-jpg: unquote('"\\e943"');
$icon-type-pcx: unquote('"\\e944"');
$icon-type-bmp: unquote('"\\e945"');
$icon-type-tif: unquote('"\\e946"');
$icon-type-gif: unquote('"\\e947"');
$icon-type-key: unquote('"\\e948"');
$icon-type-pps: unquote('"\\e949"');
$icon-type-ppt: unquote('"\\e94a"');
$icon-type-pdf: unquote('"\\e94b"');
$icon-type-rar: unquote('"\\e94c"');
$icon-type-zip: unquote('"\\e94d"');
$icon-type-doc: unquote('"\\e94e"');
$icon-type-txt: unquote('"\\e94f"');
$icon-type-rtf: unquote('"\\e950"');
$icon-type-flv: unquote('"\\e951"');
$icon-type-mp4: unquote('"\\e952"');
$icon-type-avi: unquote('"\\e953"');
$icon-type-mkv: unquote('"\\e957"');
$icon-type-mov: unquote('"\\e959"');
$icon-type-mpg: unquote('"\\e95a"');
$icon-unknown-error: unquote('"\\e95b"');
$icon-unknown-success: unquote('"\\e95c"');
$icon-administration: unquote('"\\e95d"');
$icon-settings: unquote('"\\e95e"');
$icon-file-manager: unquote('"\\e95f"');
$icon-identity-management: unquote('"\\e960"');
$icon-orders: unquote('"\\e966"');
$icon-technical-equipment: unquote('"\\e967"');
$icon-spinner: unquote('"\\e968"');

