<p-card>
  <div *ngIf="isUploadField" class="upload-field-container">
    <p-fileUpload
      #fileUpload
      [auto]="false"
      [multiple]="multiple"
      [maxFileSize]="maxFileSize"
      [files]="internalFiles"
      [chooseIcon]="chooseIcon"
      [chooseLabel]="chooseLabel"
      [showUploadButton]="false"
      [showCancelButton]="false"
      class="w-100"
      (onSelect)="handleFileSelect($event)"
      (onRemove)="handleFileRemove($event, 0)"
    >
      <ng-template pTemplate="header">
        <div class="file-list-container" style="width: 100%">
          @if (files.length > 0) { @for (file of files; track file.name; let i =
          $index) {
          <div class="file-row col-auto">
            <div
              class="d-flex gap-2 align-items-center file-info-file"
              [pTooltip]="file.name"
              tooltipPosition="top"
            >
              <i
                class="ext-icon my-2"
                [ngClass]="getFileIconClass(file.name)"
              ></i>
              <div class="d-flex my-2">
                <div class="file-name">{{ getFileName(file.name) }}</div>
                <div class="font-weight-light">
                  .{{ getFileExtension(file.name) }}
                </div>
              </div>
              <div *ngIf="hasRemove" class="ms-2 d-flex align-items-center">
                <p-button
                  [icon]="removeIcon"
                  [text]="true"
                  severity="danger"
                  (onClick)="onRemoveFile($event, i)"
                />
              </div>
            </div>
          </div>
          } }
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <div
          class="d-flex align-items-center justify-content-center flex-column file-upload-content"
        >
          <span
            class="d-flex align-items-center justify-content-center flex-column gap-1"
          >
            <p>{{ uploadHintText }}</p>
            <p>{{ maxFileSizeText }}</p>
          </span>
          <button type="button" class="p-button" (click)="fileUpload.choose()">
            <span [class]="chooseIcon"></span> {{ chooseLabel }}
          </button>
        </div>
      </ng-template>

      <ng-template pTemplate="file"></ng-template>
    </p-fileUpload>
  </div>

  <div *ngIf="isFileList" class="file-list-view">
    <div
      class="d-flex flex-wrap gap-3 change-request-files-list"
      *ngIf="files.length > 0"
    >
      @for (file of files; track file.name; let i = $index) {
      <div class="file-row">
        <div
          class="d-flex gap-2 align-items-center file-info-file"
          [pTooltip]="file.name"
          tooltipPosition="top"
        >
          <i class="ext-icon my-2" [ngClass]="getFileIconClass(file.name)"></i>
          <div class="d-flex my-2">
            <div class="file-name">{{ getFileName(file.name) }}</div>
            <div class="font-weight-light">
              .{{ getFileExtension(file.name) }}
            </div>
          </div>
          <div *ngIf="hasRemove" class="ms-2 d-flex align-items-center">
            <p-button
              [icon]="removeIcon"
              [text]="true"
              severity="danger"
              (onClick)="onRemoveFile($event, i)"
            />
          </div>
        </div>
      </div>
      }
    </div>

    <div class="empty-state" *ngIf="files.length === 0">
      <p style="color: #999; margin: 0">Нет файлов для отображения</p>
    </div>
  </div>
</p-card>

<div *ngIf="isButtonWithDialog" class="button-with-dialog-container">
  <p-button
    [label]="dialogButtonLabel"
    icon="pi pi-upload"
    (onClick)="openDialog()"
    styleClass="p-button-primary"
  />

  <p-dialog
    [(visible)]="displayDialog"
    [header]="dialogHeader"
    [modal]="true"
    [closable]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '50rem' }"
  >
    <p-fileUpload
      #dialogFileUpload
      [auto]="false"
      [multiple]="multiple"
      [maxFileSize]="maxFileSize"
      [files]="internalFiles"
      [chooseIcon]="chooseIcon"
      [chooseLabel]="chooseLabel"
      [showUploadButton]="false"
      [showCancelButton]="false"
      class="w-100"
      (onSelect)="handleFileSelect($event)"
      (onRemove)="handleFileRemove($event, 0)"
    >
      <ng-template pTemplate="header">
        <div class="file-list-container" style="width: 100%">
          @if (files.length > 0) { @for (file of files; track file.name; let i =
          $index) {
          <div class="file-row col-auto">
            <div
              class="d-flex gap-2 align-items-center file-info-file"
              [pTooltip]="file.name"
              tooltipPosition="top"
            >
              <i
                class="ext-icon my-2"
                [ngClass]="getFileIconClass(file.name)"
              ></i>
              <div class="d-flex my-2">
                <div class="file-name">{{ getFileName(file.name) }}</div>
                <div class="font-weight-light">
                  .{{ getFileExtension(file.name) }}
                </div>
              </div>
              <div *ngIf="hasRemove" class="ms-2 d-flex align-items-center">
                <p-button
                  [icon]="removeIcon"
                  [text]="true"
                  severity="danger"
                  (onClick)="onRemoveFile($event, i)"
                />
              </div>
            </div>
          </div>
          } }
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <div
          class="d-flex align-items-center justify-content-center flex-column file-upload-content"
        >
          <span
            class="d-flex align-items-center justify-content-center flex-column gap-1"
          >
            <p>{{ uploadHintText }}</p>
            <p>{{ maxFileSizeText }}</p>
          </span>
          <button
            type="button"
            class="p-button"
            (click)="dialogFileUpload.choose()"
          >
            <span [class]="chooseIcon"></span> {{ chooseLabel }}
          </button>
        </div>
      </ng-template>

      <ng-template pTemplate="file"></ng-template>
    </p-fileUpload>
  </p-dialog>
</div>
