<p-card>
  <div class="p-floatlabel">
    @if (invalid) {
    <p-message severity="error" [text]="displayErrorMessage" />
    } @if (showIcon) {
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input
        [id]="inputId"
        [type]="type"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [readonly]="readonly"
        [class.readonly]="readonly"
        [class.is-invalid]="invalid"
        [value]="value"
        (input)="onInput($event)"
        (blur)="onTouched()"
        pInputText
      />
    </p-iconfield>
    } @else {
    <input
      [id]="inputId"
      [type]="type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [class.readonly]="readonly"
      [class.is-invalid]="invalid"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onTouched()"
      pInputText
    />
    }
    @if (label) {
    <label [for]="inputId">{{ label }}</label>
    }
  </div>
</p-card>
