<p-card>
  <p-select
    #selectElement
    [options]="options"
    [(ngModel)]="value"
    (onChange)="onChange($event)"
    (onShow)="onShow()"
    (onHide)="onHide()"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [showClear]="showClear"
    [filter]="filter"
    [appendTo]="appendTo"
    optionLabel="label"
    optionValue="value"
    [class.ng-invalid]="invalid"
    [class.ng-dirty]="invalid"
    [dropdownIcon]="'icon-arrow'"
    [pTooltip]="showTooltip ? selectedLabel : ''"
    tooltipPosition="top"
    [escape]="false"
  />
</p-card>
