// select.component.scss
:host {
  display: block;
  width: 100%;
}

// Локальные стили для самого селекта
::ng-deep {
  .p-select {
    width: 100%;
    min-width: 7.625rem;
    max-width: 25rem;
  }

  // Label с ellipsis
  .p-select-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  // Invalid состояние
  .p-select.ng-invalid.ng-dirty {
    --p-select-border-color: var(--global-red-color);
    outline: none;

    .p-select-dropdown-icon::before {
      color: var(--global-red-color);
    }
  }

  // Отступ для label при наличии clear button
  .p-select:has(.p-select-clear-icon) .p-select-label {
    padding-right: 2rem;
  }
}
