<p-card>
  <div
    class="radio-wrapper"
    [class.demo-disabled]="demoMode"
    [class.forced-hover]="false"
    [class.forced-focus]="false"
    tabindex="0"
  >
    <p-radioButton
      [name]="name"
      [value]="value"
      [(ngModel)]="selectedValue"
      (ngModelChange)="onValueChange($event)"
      [disabled]="disabled || demoMode"
      [inputId]="value"
      [style.pointer-events]="demoMode ? 'none' : 'auto'"
    />
    <label [for]="value" class="p-radio-label">{{ label }}</label>
  </div>
</p-card>
