/* You can add global styles to this file, and also import other style files */
@import "../src/app/fonts/Lato/Lato.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../src/app/fonts/icomoon/icomoon-icons-font.scss";
@import "../src/app/fonts/icomoon/variables.scss";
@import "../src/app/styles/variables";
@import "../src/app/styles/buttons";
@import "../src/app/styles/colors";
@import "../src/app/styles/input";
@import "../src/app/styles/select";
@import "../src/app/styles/utilities";
@import "../src/app/styles/checkbox";
@import "../src/app/styles/radio-buttons";
@import "../src/app/styles/table";

html {
  font-family: var(--global-main-font), sans-serif !important;
}

* {
  box-sizing: border-box;
}
