/* You can add global styles to this file, and also import other style files */
// @import "../src/app/fonts/Lato/Lato.css";
// @import "../node_modules/primeicons/primeicons.css";
// @import "../src/app/fonts/icomoon/icomoon-icons-font.scss";
// @import "../src/app/fonts/icomoon/variables.scss";
// @import "../src/app/styles/variables";
// @import "../src/app/styles/buttons";
// @import "../src/app/styles/colors";
// @import "../src/app/styles/input";
// @import "../src/app/styles/select";
// @import "../src/app/styles/utilities";
// @import "../src/app/styles/checkbox";
// @import "../src/app/styles/radio-buttons";
// @import "../src/app/styles/table";

/* You can add global styles to this file, and also import other style files */
@import '../src/app/fonts/Lato/Lato.css';
// @import 'bootstrap/dist/css/bootstrap.min.css' layer(bootstrap-dim);
// @import 'primeicons/primeicons.css';
@import "../src/app/fonts/icomoon/icomoon-icons-font.scss";
// @import 'src/app/styles/primeng-variables.scss';
@import "../src/app/styles/primeng-variables.scss";

html {
  font-family: var(--global-main-font), sans-serif !important;
}

* {
  box-sizing: border-box;
}

// @keyframes donut-spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

html {
  font-size: 16px;
  font-family: "Lato", sans-serif !important;
  box-sizing: border-box;
}

body {
  background-color: var(--global-gray-3-color);

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--global-light-gray-3-color);
    background-clip: padding-box;
    border: solid transparent 0.3125rem;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--global-white-color);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--global-gray-color);
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}

// @supports (scrollbar-color: gray white) and (-moz-appearance: none) {
//   html {
//     scrollbar-color: var(--global-gray-color) var(--global-white-color);
//     scrollbar-width: auto;
//   }
// }

.margin-top-5rem-custom {
  margin-top: 5rem !important;
}

:root {
  // --lpx-logo: url('./assets/images/logo/logo-light.png');
  // --lpx-logo-icon: url('./assets/images/logo/logo-light-thumbnail.png');

  --bs-body-line-height: 1;

  --p-tooltip-max-width: 22.5rem;
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* prime ng */
.p-tooltip {
  //max-width: fit-content;
}

/* bootstrap */
legend {
  //float: unset;
  width: auto;
  font-size: 1em;
}

input {
  &.is-invalid {
    padding-right: 2.5rem;
  }
}
