/* ============================================================
   Устанавливаем порядок слоёв (ОБЯЗАТЕЛЬНО ПЕРВОЙ СТРОКОЙ)
   ============================================================ */
// @layer reset, bootstrap, primeng, custom-overrides;

/* ============================================================
   Подключаем baseline ресурсы (БЕЗ layer!)
   Шрифты и иконки обычно не нужно класть в layers
   ============================================================ */
@import "../src/app/fonts/Lato/Lato.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../src/app/fonts/icomoon/icomoon-icons-font.scss";

/* ============================================================
   Bootstrap в отдельный layer
   ============================================================ */
@layer bootstrap {
  @import "../node_modules/bootstrap/scss/bootstrap.scss";
}

/* ============================================================
   ВСЕ кастомные стили ДОЛЖНЫ быть строго в layer(custom-overrides)
   ============================================================ */
@layer custom-overrides {
  @import "../src/app/styles/primeng-variables.scss";

  html {
    font-family: var(--global-main-font), sans-serif !important;
    font-size: 16px;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--global-gray-3-color);

    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: var(--global-light-gray-3-color);
      background-clip: padding-box;
      border: solid transparent 0.3125rem;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--global-white-color);
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--global-gray-color);
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }

  .margin-top-5rem-custom {
    margin-top: 5rem !important;
  }

  :root {
    --bs-body-line-height: 1.5;
    --p-tooltip-max-width: 22.5rem;
  }

  .donut {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;

    &.centered {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  legend {
    width: auto;
    font-size: 1em;
  }

  input {
    &.is-invalid {
      padding-right: 2.5rem;
    }
  }
}
