<p-table
  [value]="data"
  [columns]="columns"
  [showGridlines]="showGridlines"
  [paginator]="paginator"
  [rows]="rows"
  [rowsPerPageOptions]="rowsPerPageOptions"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.sortable ? col.field : null"
        [style.width]="col.width"
      >
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr class="column-th" *ngIf="hasFilterableColumns">
      <th *ngFor="let col of columns">
        <p-columnFilter
          *ngIf="col.filterable"
          [field]="col.field"
          type="text"
          [showMenu]="false"
          matchMode="contains"
        ></p-columnFilter>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length" class="text-center">
        {{ emptyMessage }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft" let-state>
    <div class="paginator-show">Показать:</div>
  </ng-template>
  <!-- <ng-template pTemplate="paginatorright" let-state>
          <div class="paginator-nums">{{state.rows}} из {{ state.totalRecords }}</div>
        </ng-template> -->
  <ng-template pTemplate="paginatorfirstpagelinkicon">
    <span class="icon icon-to-first"></span>
  </ng-template>
  <ng-template pTemplate="paginatorlastpagelinkicon">
    <span class="icon icon-tolast"></span>
  </ng-template>
  <ng-template pTemplate="paginatorpreviouspagelinkicon">
    <span class="icon icon-toleft"></span>
  </ng-template>
  <ng-template pTemplate="paginatornextpagelinkicon">
    <span class="icon icon-toright"></span>
  </ng-template>
</p-table>
