.p-multiselect-clear-icon svg {
  display: none !important;
}

.demo-state-hover {
  .p-multiselect:not(.p-disabled) {
    pointer-events: none;
    border-color: var(--p-multiselect-hover-border-color) !important;
  }
}

.demo-state-focus {
  .p-multiselect:not(.p-disabled) {
    pointer-events: none;
    border-color: var(--p-multiselect-focus-border-color) !important;
    box-shadow: var(--p-multiselect-focus-ring-shadow) !important;
  }
}

.demo-state-open {
  .p-multiselect:not(.p-disabled) {
    pointer-events: none;
    border-color: var(--global-light-blue-3-color, #a3c2f5) !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    .p-multiselect-dropdown-icon {
      transform: rotate(-180deg) !important;
    }
  }
}

.demo-state-active {
  .p-multiselect:not(.p-disabled) {
    pointer-events: none;
    background-color: var(--p-multiselect-filled-focus-background) !important;
  }
}

.hide-ms-header .p-multiselect-header {
  display: none !important;
}
